.App {
  text-align: center;
}

.books {
  display: block;
  width: 100%;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.slider-item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.slider-item img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.header {
  padding-left: 380px;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: auto auto;
}

.camera {
  padding-left: 200px;
}

/* Add these styles */
.slick-next {
  right: 0;
  z-index: 1;
}

.slick-prev {
  left: 25px;
  z-index: 1;
}

.videocontainer {
  transform: scaleX(-1);
}

/* -------------
testcamera.jsx
---------------*/
.hidden {
  display: hidden;
}
