.App {
  text-align: center;
}

.books {
  display: block;
  width: 100%;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.slider-item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.slider-item img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Add these styles */
.slick-next {
  right: 25px;
  z-index: 1;
}

.slick-prev {
  left: 25px;
  z-index: 1;
}
